# Backend API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cekaxlsuemkcqgzgiigw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNla2F4bHN1ZW1rY3FnemdpaWd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY0NTEyNTUsImV4cCI6MjA3MjAyNzI1NX0.H3Kt29bLSKuvLgXLqCCAaucrQXmKzVdVkF_-rXp5zv0
